---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp # Also applies to C
# Force pointers to the type for C and C++.
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 120
